.community-container
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: url("../../assets/photo.jpg");
background-size: cover;
width: 100vw;
height: 555px;
padding: 120px 0px 120px 0px;
color: white;
}

.layout-community
{
    text-align: center;
display: flex;
flex-direction: column;
width: 500px;
height:248px;
gap: 24px;
}

.layout-community2
{
    display: flex;
}