.community-container
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: url("../../assets/photo.jpg");
background-size: cover;
width: 100vw;
height: 555px;
color: white;
position: relative;
}
.community-container::before
{
content: '';
background-color: rgba(0, 0,0, 0.5);
z-index: 1;
position: absolute;
top: 0%;
left: 0%;
width: 100vw;
height: 555px ;
}
.layout-community
{
text-align: center;
display: flex;
flex-direction: column;
width: 500px;
height:248px;
gap: 24px;
z-index: 10;
}

.layout-community2
{
    display: flex;
}