.connect-container
{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width:  1440px;
height: 650px;

}
.connect-layout
{
    width: 80%;
}
.connect-up
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.connect-down
{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.connect-d2
{
    display: flex;
    justify-content: space-between;
}
.connect-left
{
    display: flex ;
    flex-direction: column;
    width: 45%;
}
.connect-right
{
    display: flex ;
    flex-direction: column;
    width: 45%;
}
.connect-last
{
    width: 100%;

}
.connect-last input
{
    width: 100%;
    height: 100px;
    
}
input
{
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}