.FAQ-container
{
display: flex;
flex-direction: column;
align-items: center;
width: 100vw;
height: 550.94px;
}
.FAQ-layout
{
width: 1224px;
height: 457.94px;
gap: 40px;
}
.FAQ-up
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FAQ-text
{
width: 728px;
height: 457.94px;
gap: 20px;
}
.FAQ-image
{
    width: 350px;
    height: 340.94px;
    gap: 24px;
    border-radius: 30px;    
    margin-top: 10px;
}
.FAQ-down
{
display: flex;
width: 1224px;
height: 457.94px;
gap: 10px;
}
.faq-t-con
{
    display: flex;
    justify-content: space-between;
}
.faq-btn
{
    width: 25px;
    font-size: larger;
    border: none;
    outline: none;
    background-color: white;

}