.testimonal
{
width: 1440px;
height: 500px;
padding: 120px 0px 60px 0px;
}

.testimonal-layout
{
width: 1224px;
height: 539px;
margin: auto;
}
.image-list
{
display: flex;
width: 100%px;
height: 351px;
gap: 129px;
}

.side-wrapper .image-list
{
   display: grid;
   gap: 10px;
   font-size: 0%;
   overflow-x: auto;
   scrollbar-width: none;
   grid-template-columns: repeat(10, 1fr);
   justify-content: space-between;
   align-items: center;
}
.timg
{
   z-index: 1;
   height: 300px;
   position: absolute;
   background-color: black ;
}
.tcard
{
  position: relative;
  margin-top: 40px;
  margin-left: 200px; 
  z-index: 10;
}
.t-head
{
   display: flex;
   justify-content: space-between;
}
.t-button
{
   width: 40px;
   height: 40px;
   border-radius: 40px;
   border-color: lightskyblue;
 
}
.btn-layout
{ 
   display: flex;
}
.btn-left
{
   background-image: url(C:\Project\landing-page\src\assets\arrow-left.png);
   background-size: cover;
   margin-right: 10px;
}
.btn-right
{
   background-image: url(C:\Project\landing-page\src\assets\arrow-right.png);
   background-size: cover;
   margin-right: 10px;
}